* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #111827;
}

/* HERO SECTION */
.hero {
  position: relative;
  height: 60vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?auto=format&fit=crop&w=1600&q=80")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
}

.hero-content {
  position: relative;
  text-align: center;
  max-width: 800px;
  padding: 20px;
  padding-top: 5px;
}

.hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: #111827;
}

.hero-content p {
  font-size: 1rem;
  color: #374151;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-content button {
  padding: 10px 22px;
  background: #3b82f6;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-content button:hover {
  background: #2563eb;
}

/* INFO SECTION */
.info {
  text-align: center;
  padding: 60px 20px 80px;
  max-width: 900px;
  margin: auto;
}

.info h1 {
  color: #2563eb;
  font-weight: 1000;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.info p {
  font-size: 0.9rem;
  color: #000000;
  line-height: 1.7;
  max-width: 750px;
  margin: auto;
}

#about-isa-mit{
  font-size: large;
  text-align: justify;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5vw;
}

.info-image-left img {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
  min-width: 500px;
}

/* Mobile 
@media (max-width: 768px) {
  .info-wrapper {
    flex-direction: column;
  }
  body {
    min-width: 1024px;
    max-height: 100%;
  }
}

*/