body {
  margin: 0;
}

.facilities-section {
  background: url("bg_img.jpg") no-repeat center center / cover;
  padding: 80px 0;
  margin-top: 100px;;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  color: #111;
}

.facility-card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  height: 100%;
}

.facility-card:hover {
  transform: translateY(-6px);
}

.carousel img {
  height: 220px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-body h5 {
  font-weight: 700;
  margin-bottom: 8px;
}

.card-body p {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

.explore-link {
  color: #0d6efd;
  font-weight: 600;
  text-decoration: none;
}

.explore-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {

  body {
    min-width: 1024px;
    max-height: 100%;
  }
}